.pet-view {
  width: 95%;
  text-align: center;
  margin: auto;
  display: flex;
  padding-bottom: 20px;
}

.name-and-img {
  flex: 1;
}

.name-and-img img {
  width: 100%;
}

.pet-desc {
  flex: 1;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pet-desc div {
  max-width: 250px;
  padding-top: 30px;
}