body {
  text-align: center;
  font-family: helvetica, arial;
  margin: 0;
}

main {
  min-height: 80vh;
}

header, footer {
  background-color: rgb(38, 54, 70);
  color: white;
  padding: 15px;
}

header a, header a:visited,
footer a, footer a:visited {
  color: white;
}

footer a {
  display: inline;
}

a {
  text-decoration: none;
  display: block;
  margin: 10px auto;
}

a:visited {
  color: black;
}

a:hover, header a:hover, footer a:hover {
  color: rgb(169, 207, 0);
}

h1 {
  font-size: 55px;
  margin: 0px auto;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-wide {
  flex: 1.5;
}

button {
  display: inline block;
  margin: 5px auto;
  font-weight: bold;
  background-color: rgb(128, 207, 0);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(208, 255, 0);
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }
  h2 {
    width: 60%;
    margin: 15px auto;
  }
}