body {
  text-align: center;
}

img {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-wide {
  flex: 1.5;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }
}